node_modules/
/.idea/
.vscode/
dist/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
playwright-report/
test-results/
.DS_Store
/.pnp
.pnp.js
*.local
coverage/
/.cache
/.nyc_output
*.log
